/*
//  wds.css
//  WaveDAQ CSS File
//
//  Created by Stefan Ritt on 5/8/15.
*/

/*
CSS reset for maximum browser consistency.
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font: inherit;
   /* vertical-align: baseline; */
}

/*------------------------------*/

:root {
   --bgcol: #EEF0F3;
}
body {
   margin: 0;
   color: black;
   background-color: #EEF0F3;
   font-family: verdana,tahoma,sans-serif;
}

/* standard link colors and decorations */
a:link { color:#0000FF; text-decoration:none }
a:visited { color:#800080; text-decoration:none }
a:hover { color:#0000FF; text-decoration:underline }
a:active { color:#0000FF; text-decoration:underline }
a:focus { color:#0000FF; text-decoration:underline }

#container {
   position: relative;
}

#scope {
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 0;
}

#controls {
   overflow: auto;
   position: absolute;
   top: 0;
   left: 0;
   width: 205px;
   background-color: var(--bgcol);
   text-align: center;
   opacity: 0; /* pre-hidden */
}

#config {
   overflow: auto;
   position: absolute;
   top: 0;
   left: 0;
   width: 320px;
   background-color: var(--bgcol);
   text-align: left;
   opacity: 0; /* pre-hidden */
}

#channels {
   background-color: var(--bgcol);
   text-align: left;
}

#channelsTable {
   width: 100%;
   text-align: center;
   border-collapse: collapse;
   border: none;
   padding: 0px;
}

.channelsTitle {
   background-color: #D0D0D0;
   padding: 10px;
}

.channelsRow:nth-child(even) {
   background-color: #E0E0E0;
}

.channelsRow:nth-child(odd) {
   background-color: #FFFFFF;
}

.channelsTh {
   padding: 4px;
}

.channelsTd {
   padding: 4px;
}

button {
   font-size: 14px;
   margin: 0;
   border: 1px solid #C0C0C0;
   border-radius: 6px;
   background-color: #FFFFFF;
   padding: 0;
}

button:active {
   background-color: #D0D0D0;
}

input[type=text] {
   width: 40px;
   font-size:16px;
   text-align:center;
}

.vMiddleBox {
   display:table;
}

.vMiddleElement {
   display: inline;
   vertical-align:middle;
}

.hSpacer5 {
   margin-right:5px;
}

.vSpacer5 {
   margin-bottom:5px;
}

.groupBtn {
   background-color: var(--bgcol);
   border-radius: 6px;
}

.groupTitle {
   font-size: 8pt;
   font-weight: bold;
   margin-left: 20px;
   margin-top: 6px;
}

.squareButton {
   margin: 3px;
   font-size: 25px;
   width: 40px;
   height: 40px;
   border-radius: 5px;
}

.squareButtonCanvas {
   margin: 3px;
   width: 40px;
   height: 40px;
   border-radius: 5px;
}

.highButton {
   width: 40px;
   height: 54px;
   border-radius: 5px;
}

.wideButton {
   margin: 3px;
   width: 83px;
}

.floatButton {
   background-color:#FFFFFF;
   user-select: none;
   margin: 3px;
   position: absolute;
   top: 100px;
   left: 100px;
   width: 50px;
   display: none;
}

.executeButton {
   margin: auto;
   margin-top: 10px;
   display: block;
   padding-left: 10px;
   padding-right: 10px;
}

.wdSelect {
   margin: 5px;
   width: 180px;
}

.measSelect {
   margin: 5px;
   background: white;
   font-size: 14px;
}

.plusButton {
   padding-top: 0px;
   padding-right: 6px;
   padding-bottom: 3px;
   padding-left: 6px;
   background-color: #FFFFFF;
   width: 32px;
   border-radius: 15px;
}

.select {
   margin: 5px;
   background: white;
   font-size: 12px;
}

.chnButtons {
   font-size: 0; /* removes space between buttons */
   user-select: none; /* for Ctrl-Click */
}

.group {
   border: 1px solid #A0A0A0;
   background-color: #F0F0F0;
   border-radius: 6px;
   margin: 3px;
   padding: 5px;
}

.upDown {
   width: 90px;
   float: left;
}

#UScale {
   padding: 5px;
   width: 90px;
}

.zeroDist {
   float: right;
   margin-right: 6px;
}

.vSlider {
   width: 30px;
   height: 118px;
   border-radius: 5px;
   padding: 0;
}

.hSlider {
   /* margin: 3px; */
   width: 174px;
   height: 30px;
   border-radius: 5px;
   padding: 0;
   margin:0;
}

.timeScale {
   margin: 3px;
}

.tableTrigger {
   border-collapse: collapse;
}

.tableTrigger td {
   border: 1px solid #808080;
   padding: 2px;
}

.tableTriggerHeader {
   cursor: pointer;
   user-select: none;
}

.tableTriggerCell {
   cursor: pointer;
   user-select: none;
   height: 30px;
   font-size: 1.5em;
}

.tableTrigger tr:nth-child(odd) {
   background-color: #DDDDDD;
}

.tableTrigger tr:nth-child(event) {
   background-color: #EEEEEE;
}

.tableHelp {
   border-collapse: collapse;
}

.tableHelp td {
   border: 1px solid #808080;
   padding: 5px;
}

.tableHelp th {
   border: 1px solid #808080;
   background-color: #B0B0B0;
   color: white;
   padding: 4px;
}

.tableHelp tr:nth-child(odd) {
   background-color: #DDDDDD;
}

.tableHelp tr:nth-child(even) {
   background-color: #EEEEEE;
}

.tableInfo {
   border-collapse: collapse;
   width: 100%;
}

.tableInfo td {
   border: 1px solid #808080;
   padding: 4px;
   text-align: left;
}

.tableInfo td:nth-child(1) {
   text-align: right;
   color: #606060;
}

.tableInfo tr:nth-child(odd) {
   background-color: #DDDDDD;
}

.tableInfo tr:nth-child(even) {
   background-color: #EEEEEE;
}

/*---- crate.html ---- */

.crateBtn {
   margin: 3px;
   margin-top: 5px;
   padding: 3px;
   position: absolute;
   top: 0;
}

.cmdBtn {
  padding: 3px;
}

.dlgInfo {
  display: none;
}
